/* Styles spécifiques pour les tables de factures, séries et éditions */
.factures-table td:first-child,
.series-table td:first-child,
.auteurs-table td:first-child,
.acheteurs-table td:first-child,
.vendeurs-table td:first-child,
.editions-table td:first-child,
.publics-table td:first-child,
.reg-table td:first-child,
.spe-table td:first-child,
.status-table td:first-child,
.locations-table td:first-child {
    background-color: #ffffff !important;
}

.factures-table td:first-child, .factures-table th:first-child,
.series-table td:first-child, .series-table th:first-child,
.auteurs-table td:first-child, .auteurs-table th:first-child,
.acheteurs-table td:first-child, .acheteurs-table th:first-child,
.vendeurs-table td:first-child, .vendeurs-table th:first-child,
.editions-table td:first-child, .editions-table th:first-child,
.publics-table td:first-child, .publics-table th:first-child,
.reg-table td:first-child, .reg-table th:first-child,
.spe-table td:first-child, .spe-table th:first-child,
.status-table td:first-child, .status-table th:first-child,
.locations-table td:first-child, .locations-table th:first-child {
    width: 50px !important; /* Réduction de la taille de la première colonne */
    text-align: left;
    padding-left: 20px;
}

.series-table a, .series-table i,
.factures-table a, .factures-table i,
.auteurs-table a, .auteurs-table i,
.acheteurs-table a, .acheteurs-table i,
.vendeurs-table a, .vendeurs-table i,
.editions-table a, .editions-table i,
.publics-table a, .publics-table i,
.reg-table a, .reg-table i,
.spe-table a, .spe-table i,
.status-table a, .status-table i,
.locations-table a, .locations-table i {
    margin-right: 5px;
    color: #191b06;
}

.series-table thead th, .factures-table thead th,
.acheteurs-table thead th, .vendeurs-table thead th,
.auteurs-table thead th, .editions-table thead th,
.publics-table thead th, .reg-table thead th,
.spe-table thead th, .status-table thead th,
.locations-table thead th {
    background-color: #06141B;
    color: #CCD0CF;
    font-weight: bold;
    text-align: left;
    border: 2px solid #06141B !important;
}

.series-table tbody td, .series-table thead th,
.factures-table tbody td, .factures-table thead th,
.auteurs-table tbody td, .auteurs-table thead th,
.acheteurs-table tbody td, .acheteurs-table thead th,
.vendeurs-table tbody td, .vendeurs-table thead th,
.editions-table tbody td, .editions-table thead th,
.publics-table tbody td, .publics-table thead th,
.reg-table tbody td, .reg-table thead th,
.spe-table tbody td, .spe-table thead th,
.status-table tbody td, .status-table thead th,
.locations-table tbody td, .locations-table thead th {
    border: 1px solid #dee2e6;
    padding: 8px;
}

.series-table tbody td,
.factures-table tbody td,
.auteurs-table tbody td,
.acheteurs-table tbody td,
.vendeurs-table tbody td,
.editions-table tbody td,
.publics-table tbody td,
.reg-table tbody td,
.spe-table tbody td,
.status-table tbody td,
.locations-table tbody td {
    border-top: 1px solid #dee2e6; /* Bordure horizontale */
    border-bottom: 0px solid #dee2e6; /* Bordure horizontale */
    border-left: none; /* Pas de bordure verticale */
    border-right: none; /* Pas de bordure verticale */
}

/* Couleur de fond pour toutes les lignes du corps */
.series-table tbody tr, .factures-table tbody tr,
.acheteurs-table tbody tr, .vendeurs-table tbody tr,
.auteurs-table tbody tr, .editions-table tbody tr,
.publics-table tbody tr, .reg-table tbody tr,
.spe-table tbody tr, .status-table tbody tr,
.locations-table tbody tr {
    background-color: #ffffff !important; /* Blanc pour toutes les lignes */
    height: 60px; /* Hauteur fixe pour les lignes de la table */
}


/* Gestion de la surbrillance */
.highlight td, .highlight td:first-child {
    background-color: #9BA8AB !important; /* Couleur de surbrillance */
    font-weight: bold !important; /* Mettre le texte en gras */
    color: #06141B !important;
}

.highlight td:first-child a,
.highlight td:first-child i {
    background-color: transparent !important; /* Transparent pour les icônes */
}

/* Ajout de box-shadow aux tables */
.series-table, .factures-table, .auteurs-table, .acheteurs-table, .vendeurs-table, .editions-table,
.publics-table, .reg-table, .spe-table, .status-table, .locations-table {
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.12);
}

/* ---------------------------------------------------------------------------------------------- */
/* Styles pour les étiquettes de statut */
.status-label {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 12px;
    background-color: #e0f7fa; /* Couleur de fond par défaut */
    color: #00796b; /* Couleur du texte par défaut */
    font-weight: bold;
    font-size: 12px;
    text-align: center;
}

/* Styles spécifiques pour l'étiquette "Closed" */
.status-label.closed {
    background-color: #c8e6c9; /* Couleur de fond pour l'étiquette "Closed" */
    color: #388e3c; /* Couleur du texte pour l'étiquette "Closed" */
}

/* Styles spécifiques pour l'étiquette "Uncomplete" */
.status-label.uncomplete {
    background-color: #ffcdd2; /* Couleur de fond pour l'étiquette "Uncomplete" */
    color: #d32f2f; /* Couleur du texte pour l'étiquette "Uncomplete" */
}

/* Styles spécifiques pour l'étiquette "Saved" */
.status-label.saved {
    background-color: #bbdefb; /* Couleur de fond pour l'étiquette "Saved" */
    color: #1976d2; /* Couleur du texte pour l'étiquette "Saved" */
}

/* Styles spécifiques pour l'étiquette "In Transit" */
.status-label.intransit {
    background-color: #fff9c4; /* Couleur de fond pour l'étiquette "In Transit" */
    color: #fbc02d; /* Couleur du texte pour l'étiquette "In Transit" */
}


/* ------------------------------------------------------------------------------------------------ */
/* Styles pour le bouton de menu déroulant */
.table-dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #CCD0CF;
    color: #06141B;
    padding: 0;
    font-size: 16px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    width: 30px;
    height: 30px;
    text-align: center;
    position: relative;
    transition: background-color 0.3s ease;
}

.dropbtn::before, .dropbtn::after {
    content: '';
    display: block;
    background-color: #06141B;
    width: 4px; /* Largeur du point */
    height: 4px; /* Hauteur du point */
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.dropbtn::before {
    top: 8px; /* Position du premier point */
}

.dropbtn::after {
    top: 18px; /* Position du troisième point */
}

.dropbtn span {
    display: block;
    background-color: #06141B;
    width: 4px; /* Largeur du point */
    height: 4px; /* Hauteur du point */
    border-radius: 50%;
    position: absolute;
    top: 13px; /* Position du deuxième point */
    left: 50%;
    transform: translateX(-50%);
}

.dropbtn:hover, .dropbtn.active {
    background-color: #06141B;
}

/* Changer la couleur des points au survol du bouton */
.dropbtn:hover::before,
.dropbtn:hover::after,
.dropbtn:hover span,
.dropbtn.active::before,
.dropbtn.active::after,
.dropbtn.active span {
    background-color: #CCD0CF; /* Couleur de fond au survol */
}

.table-dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 4px;
}

.table-dropdown-content a {
    color: #06141B;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 14px;
}

.table-dropdown-content a:hover {
    background-color: #ddd;
}

/* Styles pour ajouter de l'espace autour des éléments de DataTables */
.dataTables_filter {
    margin-bottom: 20px; /* Espace sous le champ de recherche */
}

.dataTables_paginate {
    margin-top: 10px; 
}





.navigation-tab-buttons button {
    padding: 10px;
    background-color: #ffffff; /* couleurs tab inactifs */
    border: none;
    font-size: 16px;
    /* margin-right: 5px; */
}


.navigation-tab-buttons button:hover,
.navigation-tab-buttons button.selected {
    cursor: pointer;
    background-color: #000000; /* couleur tab actifs */
    font-weight: bold;
    color: #ddd;
    border-bottom: 1px solid #fff;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

.navigation-tab-buttons {
    display: flex;
    justify-content: space-between;
    gap: 200px; /* Ajouter de l'espace entre les boutons */
    padding: 0 20px;
    border-bottom: 1px solid #ddd;
    /* border-radius: 5px; */
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
}


/* .navigation-tab-buttons::before,
.navigation-tab-buttons::after {
    content: '';
    flex: 1;
} */












.tab-content {
    display: none;
}

.tab-content.active {
    display: table;
}

/* .dataTables_wrapper {
    display: none;
}

.dataTables_wrapper.active {
    display: block;
} */


/* ---------------------------------
SWEET ALERT STYLES
--------------------------------- */

.viewTitle {
    color: #06141B;
    text-align: left;
    border-bottom: 1px solid #000000;
    height: 180px;
}

.popupHeight {
    max-height: 700px;
    max-width: 1200px;
    height: 100%;
    width: 100%;
}

.popupHTML {
    text-align: left !important;
}

.columns-container {
    display: flex;
    justify-content: space-between;
    /* padding-bottom: 50px; */
    margin-top: -20px !important;
}
.column {
    flex: 1;
    padding: 0 10px;
}

.columnID {
    /* flex: 1; */
    padding: 0 10px;
    margin-right: 15px;
}

.columnInfos {
    /* flex: 1; */
    padding: 0 10px;
    margin-right: 15px;
}

.columnAuteurs {
    flex: 1;
    padding: 0 10px;
    margin-right: 100px;
    
    /* padding-right: 100px; */
}

.vertical-divider {
    width: 1px;
    background-color: #ccc;
    margin: 0 10px;
}
.column-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
    width: 100%;
}
.column p {
    margin: 5px 0;
    font-size: 1rem;
    color: #666;
     display: flex;
    gap: 10px;
    align-items: center;
}

.column p img {
    margin-right: 5px;
    vertical-align: middle;
}

.flags-column {
    padding-left: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.columns-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.title-container {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: flex-start;

}

.title-text {
    margin-bottom: 10px;
    font-size: 1.2rem; /* Taille de la police pour "Série :" */
}




.title-text.abandonnee {
    color: #d33; /* Couleur rouge */
    display: inline-block;
    padding: 5px 10px;
    border-radius: 12px;
    background-color: #ff000028; /* Couleur de fond par défaut */
    /* color: #00796b; Couleur du texte par défaut */
    font-weight: bold;
    font-size: 12px;
    text-align: center;




}
.title-text.terminee {
    color: #00ca2f; /* Couleur verte */
    display: inline-block;
    padding: 5px 10px;
    border-radius: 12px;
    background-color: #00ff0d28; /* Couleur de fond par défaut */
    /* color: #00796b; Couleur du texte par défaut */
    font-weight: bold;
    font-size: 12px;
    text-align: center;
}
.title-text.encours {
    color: #0077ff; /* Couleur bleue */
    display: inline-block;
    padding: 5px 10px;
    border-radius: 12px;
    background-color: #ff000028; /* Couleur de fond par défaut */
    /* color: #00796b; Couleur du texte par défaut */
    font-weight: bold;
    font-size: 12px;
    text-align: center;
}
.title-text.enpause {
    color: #ff7b00; /* Couleur bleue */
    display: inline-block;
    padding: 5px 10px;
    border-radius: 12px;
    background-color: #ff000028; /* Couleur de fond par défaut */
    /* color: #00796b; Couleur du texte par défaut */
    font-weight: bold;
    font-size: 12px;
    text-align: center;
}

.serie-name {
    font-size: 1.5rem; /* Taille de la police pour le nom de la série */
    color: #4A5C6A; /* Couleur pour le nom de la série */
    margin-top: -10px; /* Réduire l'espace entre le titre et le nom de la série */
    
}
.top-right-icon {
    position: absolute;
    top: 10px;
    right: 50px;
}
.serie-name {
    font-size: 1.8rem; /* Taille de la police pour le nom de la série */
    color: #4A5C6A; /* Couleur pour le nom de la série */
}