/* Double container 60/40 */


.left-content,
.right-content {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
}

.left-content {
    flex: 2;
    margin-right: 20px;
}

.right-content {
    flex: 1;
}

/* Styles pour les conteneurs des logos */
.edition-logo-container {
    display: flex;
    align-items: center;
}

/* Styles pour les images */
.edition-logo-container img {
    margin-right: 20px;
    width: 60px; /* Largeur fixe pour les images */
    height: 60px; /* Hauteur fixe pour les images */
    object-fit: contain; /* Ajuste l'image pour qu'elle rentre dans le conteneur sans déformation */
}

.details-listbox {
    width: 100%;
    height: 200px;
}

.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.card-header {
    background-color: #f8f9fa;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-group {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.list-group-item {
    padding: 10px 15px;
    border-bottom: 1px solid #ddd;
}

.list-group-item:last-child {
    border-bottom: none;
}

.author-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right-aligned {
    margin-left: auto;
    font-style: italic;
    color: grey;
}
